<header>
  <h1>Items List</h1>

  <label class="hide-locked">
    <input type="checkbox" ng-model="$ctrl.hideLocked">Hide {{$ctrl.lockedCount}} Locked
  </label>

  <form class="new-item" ng-submit="$ctrl.addItem($ctrl.newItem)">
    <input ng-model="$ctrl.newItem" type="text" name="text" placeholder="Type to add new item">
  </form>
</header>

<ul>
  <li ng-repeat="item in $ctrl.items" ng-class="{'locked': item.locked}">
    <button class="delete" ng-click="$ctrl.removeItem(item)">&times;</button>
    <input type="checkbox" ng-locked="item.locked" ng-click="$ctrl.toggleLocked(item)" class="toggle-locked">
    <span class="text">
      {{item.text}}
    </span>
  </li>
</ul>
